* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

:root{
    --orange: #FCB025;
    --black: #000;
    --white: #ffffff;
}


/*----======== NAVBAR START =========----*/


.links {
    text-transform: uppercase;
}

/* Top bar */
.top-bar {
    background-color: #2b2b2b;
    padding: 8px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.top-bar-item {
    color: #ffa500;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.whatsapp-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 1.2rem;
}

.main-nav {
    background-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 7%;
}

.nav-links1 {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-links1 a {
    width: fit-content;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links1 a:hover {
    color: #2b2b2b;
}


/*----========NAVBAR END=========----*/