@font-face {
    font-family: 'bold';
    src: url(./fonts/JCBEB___.woff2);
}

@font-face {
    font-family: 'boldCondensed';
    src: url(./fonts/JCBEBC__.woff2);
}

@font-face {
    font-family: 'bolditalic';
    src: url(./fonts/JCBEBI__.woff2);
}

@font-face {
    font-family: 'extraBold';
    src: url(./fonts/JCBEEB__.woff2);
}

@font-face {
    font-family: 'extraBoldCondensed';
    src: url(./fonts/JCBEXBC_.woff2);
}

@font-face {
    font-family: 'ultraBold';
    src: url(./fonts/JCBEUB__.woff2);
}

@font-face {
    font-family: 'italic';
    src: url(./fonts/JCBEI___.woff2);
}

@font-face {
    font-family: 'light';
    src: url(./fonts/JCBEL___.woff2);
}

@font-face {
    font-family: 'roman';
    src: url(./fonts/JCBER___.woff2);
}

@font-face {
    font-family: 'romanCondensed';
    src: url(./fonts/JCBERC__.woff2);
}

@font-face {
    font-family: 'square';
    src: url(./fonts/Square721\ BdEx\ BT\ Bold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

:root{
    --orange: #FCB025;
    --black: #000;
    --white: #ffffff;
}


/*----======== NAVBAR START =========----*/


.links {
    text-transform: uppercase;
}

/* Top bar */
.top-bar {
    background-color: #2b2b2b;
    padding: 8px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.top-bar-item {
    color: #ffa500;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.whatsapp-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 1.2rem;
}

.main-nav {
    background-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 7%;
}

.nav-links1 {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-links1 a {
    width: fit-content;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links1 a:hover {
    color: #2b2b2b;
}


/*----========NAVBAR END=========----*/

/*----========NAVBAR END=========----*/
/*----========NAVBAR END=========----*/